.after-hours {
    margin: 120px 0;
}

.after-hours__header-container {
    display: flex;

    justify-content: center;
    flex-direction: column;
    width: 1320px;
}

.after-hours__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.after-hours__header {
    color: var(--Gray400, #9ca3af);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;

}

.after-hours__text {
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: -0.8px;
}

.after-hours__grid {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 16px;
}

.after-hours__row {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.card {
    width: 316px;
}

.card__image {
    border-radius: 20px;
}

.card__header {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

.card__text {
    color: var(--Gray400, #9ca3af);
    font-size: 16px;
}

@media only screen and (max-width: 1320px) {
    .after-hours__header-container {
        width: auto;
    }

    .after-hours__grid {
        flex-direction: column;
        align-items: center;
    }

    .after-hours__text {
        width: auto;
    }

    .after-hours__content {
        margin: 0 24px;
    }
}

@media only screen and (max-width: 720px) {
    .after-hours__row {
        flex-direction: column;
    }
}

@media only screen and (max-width: 374px) {
    .card {
        width: 272px;
    }

    .card__image {
        width: 272px;
    }
}